label {
  text-transform: capitalize;
}

.indentable {
  text-indent: 2em;
}

.to-center {
  text-align: center;
}

.no-survey, .survey-complete, .no-info {
  display: none;
}

#survey-complete {
  display: none;
}
