.indentable {
  text-indent: 2em;
}

.to-center {
  text-align: center;
}

.no-survey, .survey-complete, .no-info {
  display: none;
}

/* #survey-complete {
  display: none;
} */


div.custom-col2 {
  padding: 15px;
  background-color: red;
  border-left: solid 15px yellow;
  border-right: solid 30px yellow;
  border-bottom: solid 30px green;
  margin: 15px;
}

h3 {
  text-align: center;
  text-decoration: underline;
}
